@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
/********************* Theme 2 *********************/
.body_theme2 {
  background-color: hsl(0deg, 0%, 90%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: hsl(60deg, 10%, 19%);
}

.output_theme2 {
  background-color: hsl(0deg, 0%, 93%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: hsl(60deg, 10%, 19%);
}

.bg_toggle_keypad-theme2 {
  background-color: hsl(0deg, 5%, 81%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: undefined;
}

.btn_default-theme2 {
  background-color: hsl(30deg, 25%, 89%);
  box-shadow: inset 0px -4px 0px 0px hsl(28deg, 16%, 65%);
  color: hsl(60deg, 10%, 19%);
}

.btn_del-theme2 {
  background-color: hsl(185deg, 42%, 37%);
  box-shadow: inset 0px -4px 0px 0px hsl(185deg, 58%, 25%);
  color: hsl(0deg, 0%, 100%);
}

.btn_result-theme2 {
  background-color: hsl(25deg, 98%, 40%);
  box-shadow: inset 0px -4px 0px 0px hsl(25deg, 99%, 27%);
  color: hsl(0deg, 0%, 100%);
}

/********************* Theme 3 *********************/
.body_theme3 {
  background-color: hsl(268deg, 75%, 9%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: hsl(52deg, 100%, 62%);
}

.output_theme3 {
  background-color: hsl(268deg, 71%, 12%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: hsl(52deg, 100%, 62%);
}

.bg_toggle_keypad-theme3 {
  background-color: hsl(268deg, 71%, 12%);
  box-shadow: inset 0px -4px 0px 0px undefined;
  color: undefined;
}

.btn_default-theme3 {
  background-color: hsl(268deg, 47%, 21%);
  box-shadow: inset 0px -4px 0px 0px hsl(290deg, 70%, 36%);
  color: hsl(52deg, 100%, 62%);
}

.btn_del-theme3 {
  background-color: hsl(281deg, 89%, 26%);
  box-shadow: inset 0px -4px 0px 0px hsl(285deg, 91%, 52%);
  color: hsl(0deg, 0%, 100%);
}

.btn_result-theme3 {
  background-color: hsl(176deg, 100%, 44%);
  box-shadow: inset 0px -4px 0px 0px hsl(177deg, 92%, 70%);
  color: hsl(198deg, 20%, 13%);
}

/*********************  *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  width: 100vw;
  height: 100vh;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 540px;
  max-height: 706px;
  width: 87.2%;
  height: 91.0044977511%;
}

/********************* Header *********************/
.header_container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6.9192751236%;
}
.header_container h1 {
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.533333px;
  transform: translateX(7px);
}
.header_container-theme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.header_container-theme ul {
  display: inline-flex;
  grid-area: 1/2/2/3;
  justify-content: center;
  width: 71px;
  font-size: 12px;
  line-height: 11px;
  gap: 16px;
}
.header_container-theme .label-theme {
  grid-area: 2/1/3/2;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 1px;
}
.header_container-theme .theme_container-toggle {
  display: inline-flex;
  grid-area: 2/2/3/3;
  width: 71px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 13px;
  height: 26px;
}
.header_container-theme .theme_container-toggle .toggle {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  cursor: pointer;
}

/********************* Main *********************/
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 87.6441515651%;
}
.main_container .output_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 16.3568773234%;
  border-radius: 10px;
}
.main_container .output_container span {
  font-size: 40px;
  line-height: 37px;
  letter-spacing: -0.666667px;
  transform: translateX(-20px);
}
.main_container .output_container-previus {
  font-size: 20px;
}
.main_container .output_container-current {
  font-size: 40px;
}
.main_container .btn_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: space-evenly;
  justify-items: center;
  width: 100%;
  height: 78.0669144981%;
  border-radius: 10px;
  padding: 24px;
  gap: 13px;
}
.main_container .btn_container .btn_default,
.main_container .btn_container .btn_default-delete,
.main_container .btn_container .btn_default-reset,
.main_container .btn_container .btn_default-result {
  width: 100%;
  height: 64px;
  border-radius: 10px;
  border: none;
}
.main_container .btn_container .btn_default:active,
.main_container .btn_container .btn_default-delete:active,
.main_container .btn_container .btn_default-reset:active,
.main_container .btn_container .btn_default-result:active {
  opacity: 0.6;
}
.main_container .btn_container .btn_default {
  max-width: 101px;
  font-size: 32px;
  line-height: 29px;
}
.main_container .btn_container .btn_default-delete {
  max-width: 101px;
  font-size: 20px;
  line-height: 18px;
}
.main_container .btn_container .btn_default-reset {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 227px;
  font-size: 20px;
  line-height: 18px;
}
.main_container .btn_container .btn_default-result {
  grid-column-start: 3;
  grid-column-end: 5;
  max-width: 227px;
  font-size: 20px;
  line-height: 18px;
}

.hidden {
  display: none;
}

/********************* Theme 1  *********************/
.body_theme1 {
  background-color: hsl(222deg, 26%, 31%);
  color: hsl(0deg, 0%, 100%);
}

.output_theme1 {
  background-color: hsl(224deg, 36%, 15%);
  color: hsl(0deg, 0%, 100%);
}

.bg_toggle_keypad-theme1 {
  background-color: hsl(223deg, 31%, 20%);
}

.btn_default-theme1 {
  color: hsl(221deg, 14%, 31%);
  background-color: hsl(30deg, 25%, 89%);
  box-shadow: inset 0px -4px 0px 0px hsl(28deg, 16%, 65%);
}

.btn_del-theme1 {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(225deg, 21%, 49%);
  box-shadow: inset 0px -4px 0px 0px hsl(224deg, 28%, 35%);
}

.btn_result-theme1 {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(6deg, 63%, 50%);
  box-shadow: inset 0px -4px 0px 0px hsl(6deg, 70%, 34%);
}

/********************* Switch 3 Toggle  *********************/
.theme-1 {
  background-color: hsl(6deg, 63%, 50%);
  transform: translatex(5px);
}

.theme-2 {
  background-color: hsl(25deg, 98%, 40%);
  transform: translatex(25.5px);
}

.theme-3 {
  background-color: hsl(176deg, 100%, 44%);
  transform: translatex(48px);
}

/*# sourceMappingURL=style.css.map */
